<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pmi_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00082323 0.09644 -0.0063291"
        rpy="0 0 0" />
      <mass
        value="2.4727" />
      <inertia
        ixx="0.011422"
        ixy="1.6542E-06"
        ixz="1.3919E-06"
        iyy="0.012445"
        iyz="-5.9743E-05"
        izz="0.023105" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0026336 -1.68446e-05 -0.111117"
        rpy="0 0 0" />
      <mass
        value="10.0123496865811" />
      <inertia
        ixx="8.29601614566715e-002"
        ixy="-3.28089653994623e-004"
        ixz="-1.19428008908532e-004"
        iyy="3.91199810914461e-002"
        iyz="2.09012210735718e-006"
        izz="6.49458588226152e-002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69216 0.71961 0.83333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-100"
      upper="100"
      effort="10"
      velocity="100" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="6.90559e-05 -0.0851548 -0.00686211"
        rpy="0 0 0" />
      <mass
        value="10.4391437674567" />
      <inertia
        ixx="7.80970193464117e-002"
        ixy="3.53131298101708e-005"
        ixz="-8.81620777833472e-006"
        iyy="2.55871855807303e-002"
        iyz="5.47282289489732e-003"
        izz="7.45746466344453e-002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.73333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt2"
    type="revolute">
    <origin
      xyz="0 0 -0.22"
      rpy="1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5709"
      upper="1.5709"
      effort="10"
      velocity="100" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0969069 -3.20036e-05 -0.00548574"
        rpy="0 0 0" />
      <mass
        value="10.3406497234359" />
      <inertia
        ixx="7.92872354716476e-002"
        ixy="8.26042768438978e-006"
        ixz="5.43833216931251e-006"
        iyy="2.27404242493157e-002"
        iyz="4.31986606376804e-003"
        izz="7.81409250910383e-002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.49216 0.51961 0.63333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt3"
    type="revolute">
    <origin
      xyz="0 -0.23 0"
      rpy="0 0 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="10"
      velocity="100" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0675884 0.00443192 0.000679202"
        rpy="0 0 0" />
      <mass
        value="7.01416597186014" />
      <inertia
        ixx="3.93493190184971e-002"
        ixy="-9.26169916890393e-004"
        ixz="-8.43406506016272e-006"
        iyy="1.11764686166838e-002"
        iyz="2.04330936352529e-004"
        izz="4.10218257620852e-002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.39216 0.41961 0.53333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt4"
    type="revolute">
    <origin
      xyz="0.23 0 0"
      rpy="-3.1416 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5709"
      upper="1.5709"
      effort="10"
      velocity="100" />
  </joint>
</robot>