<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pmi_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00082323 0.09644 -0.0063291"
        rpy="0 0 0" />
      <mass
        value="2.4727" />
      <inertia
        ixx="0.011422"
        ixy="1.6542E-06"
        ixz="1.3919E-06"
        iyy="0.012445"
        iyz="-5.9743E-05"
        izz="0.023105" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0029766 -1.9976E-09 -0.10913"
        rpy="0 0 0" />
      <mass
        value="1.1285" />
      <inertia
        ixx="0.0034546"
        ixy="-4.1833E-08"
        ixz="8.2656E-08"
        iyy="0.0034685"
        iyz="-2.2223E-12"
        izz="0.0014719" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-100"
      upper="100"
      effort="10"
      velocity="100" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="5.8908E-05 -0.083968 -0.0062912"
        rpy="0 0 0" />
      <mass
        value="1.2748" />
      <inertia
        ixx="0.0027247"
        ixy="2.3397E-08"
        ixz="-1.513E-06"
        iyy="0.0013258"
        iyz="-2.3923E-06"
        izz="0.0029712" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt2"
    type="revolute">
    <origin
      xyz="0 0 -0.22"
      rpy="1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0.0063958 0 -0.99998" />
    <limit
      lower="-100"
      upper="100"
      effort="10"
      velocity="100" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.095221 -3.7333E-05 -0.004723"
        rpy="0 0 0" />
      <mass
        value="1.2621" />
      <inertia
        ixx="0.0010938"
        ixy="2.3488E-08"
        ixz="5.6708E-06"
        iyy="0.0037848"
        iyz="-4.7642E-08"
        izz="0.0042272" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt3"
    type="revolute">
    <origin
      xyz="0 -0.23 0"
      rpy="0 0 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-100"
      upper="100"
      effort="10"
      velocity="100" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.068913 0.0046115 0.0014599"
        rpy="0 0 0" />
      <mass
        value="0.85956" />
      <inertia
        ixx="0.0007259"
        ixy="6.1552E-06"
        ixz="3.5026E-06"
        iyy="0.0013575"
        iyz="3.0696E-08"
        izz="0.001809" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pmi_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jnt4"
    type="revolute">
    <origin
      xyz="0.23 0 0"
      rpy="-3.1416 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-100"
      upper="100"
      effort="10"
      velocity="100" />
  </joint>
</robot>